@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

@font-face {
	font-family: "Leland";
	src: url("Leland.otf") format("opentype");
}

body {
	font-family: "Open Sans", serif;
	margin: auto;
	max-width: 80ch;
	padding: 1rem;
}

.music {
	font-family: "Leland", sans-serif;
	line-height: 1.5;
}

#notes { font-size: 36px; }

